form {
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px repeat(3, 80px);
  font-size: 18px;
  align-items: stretch;
  grid-template-rows: repeat(9, 43px);
  margin-bottom: 5px;
}

.score-total {
  grid-template-rows: 50px;
}

.grid-container > div {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.categories {
  color: rgba(0, 0, 0, 1);
}

.score {
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.7);
}

.score:hover {
  cursor: pointer;
}

.confirmed {
  color: black;
  background-color: rgba(49, 49, 230, 0.212);
  font-weight: bold;
}

.total {
  color: black;
  font-weight: bold;
}

.bonus {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.description {
  font-size: 16px;
}

i {
  margin-right: 5px;
}

.description i {
  margin-left: 5px;
}

.gameNumber {
  font-size: 16px;
}

button {
  background-color: #f8585b;
  border: none;
  color: #fff;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px;
  cursor: pointer;
  border-radius: 3px;
}
